<template>
  <q-page class="row">
    <div class="q-gutter-y-md full-width bg-grey-2">
      <!-- FORM -->
      <q-card class="full-width">
        <div class="q-pa-md full-width">
          <q-form @submit="searchWeekly" class="q-gutter-lg">
            <q-card-section>
              <div class="text-h4">Weekly Task</div>
            </q-card-section>
            <q-card-section class="row q-col-gutter-md ">
              <div class="col-xs-12 col-sm-6 col-md-4">
                <q-select
                  dense
                  outlined
                  v-model="week"
                  :options="options"
                  label="Minggu ke-"
                  stack-label
                  :rules="[required]"
                ></q-select>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4">
                <q-input
                  v-model="startDate"
                  outlined
                  dense
                  label="Periode"
                  stack-label
                  :rules="[required]"
                  readonly
                >
                  <template v-slot:append>
                    <q-icon name="event" class="cursor-pointer">
                      <q-popup-proxy
                        ref="qDateProxy"
                        transition-show="scale"
                        transition-hide="scale"
                      >
                        <q-date
                          v-model="startDate"
                          minimal
                          emit-immediately
                          default-view="Years"
                          mask="YYYY/MM"
                          @input="checkValue"
                        >
                          <!-- <div class="row items-center justify-end">
                            <q-btn
                              v-close-popup
                              label="Pilih"
                              color="primary"
                              flat
                            ></q-btn>
                            <q-btn
                              v-close-popup
                              label="Tutup"
                              color="primary"
                              flat
                            ></q-btn>
                          </div> -->
                        </q-date>
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 ">
                <q-btn color="primary" size="md" type="submit"
                  ><q-icon left name="search"></q-icon>
                  <div>Cari</div></q-btn
                >
              </div>
            </q-card-section>
          </q-form>
        </div>
      </q-card>

      <div
        class="q-pa-md full-width"
        style="margin-top: 10%;"
        v-if="weeklyTaskStatus == 'loading'"
      >
        <div class="row q-col-gutter-md" align="center">
          <div class="col-xs-12">
            <q-spinner-cube color="primary" size="6.5em"></q-spinner-cube>
          </div>
        </div>
      </div>

      <div
        class="q-pa-md full-width "
        v-else-if="weeklyTaskStatus != 'loading'"
      >
        <div class="row q-col-gutter-md items-center">
          <div
            class="col-xs-12 col-sm-6 col-md-4"
            v-for="(weekly, i) in getWeeklyTask"
          >
            <q-card class="full-width">
              <q-card-section class="bg-indigo-10 text-white">
                <div class="text-h6">{{ weekly.startDate }}</div>
              </q-card-section>
              <q-separator></q-separator>
              <q-card-section style="height: 130px">
                <div class="row" v-for="(daily, j) in dailyTaskData[i]">
                  <div class="col-xs-8 col-sm-8 col-md-8">
                  {{ daily.projectName }}
                  </div>
                  <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                  {{ daily.workingHourActual }} H
                  </div>
                </div>
              </q-card-section>
              <q-separator dark></q-separator>
              <q-card-actions align="right">
                <q-btn color="primary" label="Lihat Rincian"></q-btn>
              </q-card-actions>
            </q-card>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { required } from '../../helper/validations';
import { State, Getter, Action, Mutation, namespace } from 'vuex-class';

const authModule = namespace('authModule');
const weeklyTaskModule = namespace('weeklyTaskModule');

@Component
export default class FormDailyTask extends Vue {
  @authModule.Getter('stateUserid') stateUserid: any;
  @authModule.Getter('stateToken') stateToken: any;

  //weeklytask
  @weeklyTaskModule.Getter('weeklyTaskStatus')
  private weeklyTaskStatus!: string;
  @weeklyTaskModule.Getter('getWeeklyTask') private getWeeklyTask!: any[];
  @weeklyTaskModule.Action('inquiryWeeklyTask') private inquiryWeeklyTask!: any;

  options = [1, 2, 3, 4, 5];
  week = 1;
  items = [1, 2, 3];

  loadingTask = false;

  //Validation
  required(val: any) {
    return required(val);
  }

  //  FORM
  pid = '';
  plan = '';
  startDate = '';
  remark = '';
  dailyTaskData: any[] = [];
  async searchWeekly() {
    this.loadingTask = true;

    let datepicker = this.startDate.split('/');
    let period = datepicker[0] + datepicker[1];
    let params = {
      params:
        '?userId=' +
        this.stateUserid +
        '&byUserId=' +
        this.stateUserid +
        '&byDate=' +
        this.week +
        period,
      token: this.stateToken
    };

    console.log(params);
    await this.inquiryWeeklyTask(params);

    //isi daily task data

    console.log('length: ' + this.getWeeklyTask.length);
    for (let i = 0; i < this.getWeeklyTask.length; i++) {
      this.dailyTaskData.push(this.getWeeklyTask[i].detailTaskList);
    }

    console.log('dailyTaskData : ' + JSON.stringify(this.dailyTaskData));

    this.loadingTask = false;
  }

  //convert
  qDate(): Vue & { hide: () => boolean } {
    return this.$refs.qDateProxy as Vue & { hide: () => boolean };
  }

  checkValue(val: any, reason: string, details: any) {
    if (reason === 'month') {
      this.qDate().hide();
    }
  }

  mounted() {}
}
</script>
