<template>
  <q-page class="window-height window-width row justify-center bg-gradient">
    <div class="column">
      <div class="row">
        <q-card
          square
          class="q-pa-lg shadow-0"
          style="background:white;margin-top: 30%;"
        >
          <q-form @submit="login" class="q-gutter-md">
            <q-card-section class="text-center">
              <q-avatar size="100px">
                <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" />
              </q-avatar>
              <div class="text-h6 text-center">EATS</div>
            </q-card-section>
            <q-card-section>
              <!-- Login Form -->

              <q-input
                clearable
                v-model="username"
                type="text"
                label="Username"
                label-color="light-blue-14"
                bg-color="field"
                :rules="[required]"
              >
                <template v-slot:prepend>
                  <q-icon name="person" color="light-blue-14" />
                </template>
              </q-input>

              <q-input
                clearable
                v-model="password"
                type="password"
                label="Password"
                label-color="light-blue-14"
                bg-color="field"
                :rules="[required]"
              >
                <template v-slot:prepend>
                  <q-icon name="lock" color="light-blue-14" />
                </template>
              </q-input>
            </q-card-section>

            <q-card-actions class="q-px-md">
              <!-- Button -->
              <q-btn
                outline
                rounded
                color="light-blue-7"
                size="md"
                class="full-width"
                label="Sign In"
                type="submit"
              />
            </q-card-actions>
          </q-form>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import { required, email } from '../helper/validations';
import { encryptUsingAES256 } from '../helper/CryptoHelper';

import { State, Getter, Action, Mutation, namespace } from 'vuex-class';

const authModule = namespace('authModule');

@Component
export default class Login extends Vue {
  //Vuex
  @authModule.Action('LogIn') actionLogin: any;

  @authModule.Action('LogOut') actionLogout: any;

  @authModule.Getter('authStatus') authStatus: any;

  username = '';
  password = '';
  url = require('../assets/macan.png');

  //validation
  required(val: any) {
    return required(val);
  }

  email(val: any) {
    return email(val);
  }

  //login
  async login() {
    
    this.$q.loading.show({
        message: 'Checking data from server...'
    });

    let passEncrypted = encryptUsingAES256(this.password);



    let user = {
      username: this.username.toString(),
      password: passEncrypted.toString()
    };

    await this.actionLogin(user);

    console.log("this.authStatus : "+this.authStatus);

    this.$q.loading.hide()
    
    //call action store
    if (this.authStatus.toString() == 'success') {
      this.$router.push('/dailytask');
    } else {
      this.$q.notify({
        type: 'negative',
        message: `Login failed`
      });
    }


  }



}
</script>

<style>
.q-card {
  width: 22.5rem;
}
.bg-gradient {
  background: linear-gradient(to top left, #1976d2 9%, #00ffff 99%);
}
</style>
