<template>
  <!-- <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-toolbar-title>
          <div class="text-subtitle1">
            Copyright © 2020 PT. Multipolar Technology. All rights
            reserved.</div
          >
        </q-toolbar-title>
      </q-toolbar>
    </q-footer> -->

  
    <q-footer>
      <q-tabs>
        <q-route-tab
          v-for="nav in navsData"
          :key="nav.label"
          :to="nav.to"
          :icon="nav.icon"
          :label="nav.label"
        />
      </q-tabs>
    </q-footer>

  
 
</template>

<script lang="ts">
import { Vue,Prop, Component } from 'vue-property-decorator';

@Component
export default class FooterBar extends Vue {
  
   @Prop({required: true}) readonly navsData: any

 
}
</script>

<style scoped lang="scss">
@media screen and (min-width: 751px) {
  .q-footer {
    display: none;
  }
}
.q-drawer .q-router-link--exact-active {
  color: black !important;
  font-weight: bold;
}
</style>
