<template>
  <q-header elevated class="bg-gradient">
    <q-toolbar>
   
     <q-toolbar-title class="text-h6">
        <q-avatar>
          <img src="https://cdn.quasar.dev/logo/svg/quasar-logo.svg" />
        </q-avatar>
        Enterprise Application Timesheet
      </q-toolbar-title>
 
      <q-btn-dropdown stretch flat :label="username">
        <q-list bordered separator style="max-width: 350px">
          <q-item>
            <q-item-section>
              <div class="row justify-center q-pa-md">
                <div class="col-12 text-center self-center">
                  <q-avatar size="120px">
                    <img :src="picprofile" />
                  </q-avatar>
                </div>
                <q-item-label header>{{ username }}</q-item-label>
                <br />
                <div class="col-12 text-center self-center">
                  <q-btn
                    size="md"
                    outline
                    rounded
                    color="primary"
                    label="Manage your profile"
                  />
                </div>
              </div>
            </q-item-section>
          </q-item>
 
          <q-item>
            <q-item-section>
              <div class="row justify-center q-pa-md">
                <div class="col-12 text-center self-center">
                  <q-btn color="white" text-color="black" label="Sign Out" v-on:click="logout" />
                </div>
              </div>
            </q-item-section>
          </q-item>
        </q-list>
      </q-btn-dropdown>
    </q-toolbar>
  </q-header>
</template>

<script lang="ts">
import { Vue,Prop, Component } from 'vue-property-decorator';
import { State, Getter, Action, Mutation, namespace } from 'vuex-class';
import { Notify } from 'quasar';

const authModule = namespace('authModule');

@Component
export default class HeaderBar extends Vue {

  @Prop({required: true}) readonly picprofile: any

  //Auth
  @authModule.Action('LogOut') actionLogout: any;

  @authModule.Getter('stateUsername') username: any;

  async logout() {
    
    this.$q.loading.show({
        message: 'Sign Out...'
    });
    
    console.log('Sign Out!');
    await this.actionLogout();
    
    this.$q.loading.hide()
    this.$router.push('/');
  }
}
</script>
