<template>
  <q-page class="row">

    <component :is="componentName"></component>

    <!-- Button Add -->
    <q-page-sticky position="bottom-right" :offset="[18, 18]"  v-bind:class="{ 'hidden': statHidden }" >
      <q-btn size="lg" round color="secondary" icon="add" v-on:click="createTask"></q-btn>
    </q-page-sticky>

  </q-page>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import FormDailyTask from './FormDailyTask.vue';
import InquiryDailyTask from './InquiryDailyTask.vue';

@Component({
  components: { FormDailyTask, InquiryDailyTask }
})
export default class DailyTask extends Vue {
 
  // Hooks
  mounted() {
     // do something
     this.componentName = "InquiryDailyTask"
  }

  beforeUpdate() {
    // do something
  }

  statHidden = false;
  private componentName ="";
  createTask() {   
    this.componentName = "FormDailyTask"
    this.statHidden = true;
  }

  onFormClick () {
      this.componentName = "InquiryDailyTask"
      this.statHidden = false;
  }

 
}
</script>

<style scoped>
</style>
