<template>
  
  <div class="q-gutter-y-md full-width">
    <!-- FORM -->
    <q-card class="max-card">
      <div class="q-pa-md">
        <q-form @submit="createTask" class="q-gutter-lg">
          <q-card-section>
            <div class="text-h6">Buat Tugas Hari Ini</div>
          </q-card-section>
          <q-card-section>
            <q-input
              clearable
              v-model="pid"
              type="text"
              label="PID"
              bg-color="field"
              :rules="[required]"
            >
            </q-input>

            <q-input
              clearable
              v-model="plan"
              type="text"
              label="Rencana Jam Kerja"
              bg-color="field"
              :rules="[required]"
            >
            </q-input>

            <q-input
              clearable
              v-model="startDate"
              type="date"
              label="Mulai Pengerjaan"
              bg-color="field"
              stack-label
              :rules="[required]"
            >
            </q-input>

            <q-input
              clearable
              v-model="remark"
              type="textarea"
              label="Keterangan"
              bg-color="field"
              :rules="[required]"
            >
            </q-input>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn color="primary" type="submit" label="Add Task" />
          </q-card-actions>
        </q-form>
      </div>
    </q-card>
  </div>

</template>

<script lang="ts">

import { Vue, Component } from 'vue-property-decorator';
import { required, email } from '../../helper/validations';

@Component
export default class FormDailyTask extends Vue {

  //Validation
  required(val: any) {
    return required(val);
  }

  
 
//  FORM
  pid = '';
  plan = '';
  startDate = '';
  remark = '';

 createTask() {

 }
}
</script>

<style scoped>
.my-card {
  width: 80%;
  max-width: 80%;
}

.max-card {
  width: 100%;
  max-width: 100%;
}
</style>