<template>
  <div class="q-gutter-y-md full-width">
    <q-card class="max-card">
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="all" label="Semua Tugas"></q-tab>
        <q-tab name="inprogress" label="Sedang Berjalan"></q-tab>
        <q-tab name="done" label="Selesai"></q-tab>
      </q-tabs>

      <q-separator></q-separator>

      <q-tab-panels v-model="tab" animated>
        <!-- ALL -->
        <q-tab-panel name="all" class="bg-grey-2">
          <!-- Search -->
          <div class="q-pb-lg">
          <div class="row q-col-gutter-md ">
            <div class="col-xs-12 col-sm-6 col-md-3">
              <q-input v-model="dateRangePicker">
                <template v-slot:prepend>
                  <q-icon name="event" class="cursor-pointer">
                    <q-popup-proxy
                      ref="qDateProxy"
                      transition-show="scale"
                      transition-hide="scale"
                    >
                      <q-date v-model="dateRangePicker" range>
                        <div class="row items-center justify-end">
                          <q-btn
                            v-close-popup
                            label="Terapkan"
                            color="primary"
                            v-on:click="applyDatePickerAll"
                            flat
                          ></q-btn>
                          <q-btn
                            v-close-popup
                            label="Batal"
                            color="primary"
                            flat
                          ></q-btn>
                        </div>
                      </q-date>
                    </q-popup-proxy>
                  </q-icon>
                </template>
              </q-input>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5"></div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <q-input v-model="search" label="Cari Tugas Harian Anda">
                <template v-slot:prepend>
                  <q-icon name="search"></q-icon>
                </template>
              </q-input>
            </div>
          </div>
          </div>

          <!-- List -->
          <div class="row q-col-gutter-md items-center">
            <div class="col-xs-12 col-sm-6 col-md-4" v-for="item in this.items">
              <q-card class="max-card">
                <q-card-section class="bg-grey-8 text-white">
                  <div class="text-h6">Task</div>
                </q-card-section>
                <q-card-section>
                  dfgfdg
                </q-card-section>
                <q-separator dark></q-separator>
                <q-card-actions align="around">
                  <q-btn
                    style="width: 40%"
                    color="primary"
                    label="Perbarui"
                  ></q-btn>
                  <q-btn style="width: 40%" label="Detail"></q-btn>
                </q-card-actions>
              </q-card>
            </div>
             <div class="col-xs-12 col-sm-6 col-md-4" v-for="item in this.items">
              <q-card class="max-card">
                <q-card-section class="bg-positive text-white">
                  <div class="text-h6">Task</div>
                </q-card-section>
                <q-card-section>
                  dfgfdg
                </q-card-section>
                <q-separator dark></q-separator>
                <q-card-actions align="around">
                  <q-btn
                    style="width: 40%"
                    color="primary"
                    label="Perbarui"
                  ></q-btn>
                  <q-btn style="width: 40%" label="Detail"></q-btn>
                </q-card-actions>
              </q-card>
            </div>
          </div>

          <div class="q-pa-lg flex flex-center">
            <q-pagination
              v-model="currentPage"
              :max="10"
              :max-pages="6"
              boundary-numbers
            ></q-pagination>
          </div>
        </q-tab-panel>

        <!-- In Progress -->
        <q-tab-panel name="inprogress">
          <div class="text-h6">Dalam Pengerjaan</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </q-tab-panel>

        <!-- DONE -->
        <q-tab-panel name="done">
          <div class="text-h6">Movies</div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { required, email } from '../../helper/validations';
import { paginate } from '../../helper/Pagination';

@Component
export default class InquiryDailyTask extends Vue {
  //Validation
  required(val: any) {
    return required(val);
  }

  //Tab
  tab = 'all';

  //Search
  search = '';

  //Date Rang Picker
  dateRangePicker = { from: '2020/07/08', to: '2020/07/17' };

  applyDatePickerAll() {
    this.dateRangePicker = { from: '2020/07/08', to: '2020/07/17' };
  }

  //pagination
  currentPage = 1;

  items = [1, 2, 3, 4, 5, 6];

  //Record
  get displayedRecords(): any {
    console.log('current page : ' + this.currentPage);
    return paginate(this.currentPage, 2, this.items);
  }
}
</script>

<style scoped>
.my-card {
  width: 80%;
  max-width: 80%;
}

.max-card {
  width: 100%;
  max-width: 100%;
}
</style>
