<template>
  <q-layout view="hHh LpR fff">
    <HeaderBar :picprofile="picprofile"></HeaderBar>

    <q-drawer
      :breakpoint="767"
      :width="250"
      show-if-above
      bordered
      content-class="bg-netral"
    >
      <br />

      <q-list light>
        <div class="col-12 text-center self-center">
          <q-avatar size="120px">
            <img :src="picprofile" />
          </q-avatar>
        </div>
        <br />
        <br />

        <q-item
          v-for="nav in navs"
          :key="nav.label"
          :to="nav.to"
           clickable
          :active="nav.to === $route.fullPath"
        >
          <q-item-section avatar>
            <q-icon :name="nav.icon" />
          </q-item-section>
          <q-item-section>
            <q-item-label>{{ nav.label }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <FooterBar :navsData="navs"></FooterBar>
  </q-layout>
</template>

<script lang="ts">
import HeaderBar from 'components/HeaderBar.vue';
import FooterBar from 'components/FooterBar.vue';

import { Vue, Component } from 'vue-property-decorator';

@Component({
  components: { HeaderBar, FooterBar }
})
export default class MainLayout extends Vue {
  //NavBar
  navs = [
  
    {
      label: 'Daily Task',
      icon: 'task',
      to: '/dailytask',
     
    },
     {
      label: "Weekly Task",
      icon: 'event_available',
      to: '/weeklytask',
      
    },
    

   
  ];


  picprofile = require('../assets/face28.png');


  created() {
    // nothing defined here (when this.$route.path is other than "/")
    console.log(this.$route, this.$route.fullPath);

   
  }
}
</script>

<style scoped>
.bg-gradient {
  background: linear-gradient(to left, #1976d2 0%, #0fabe4 95%);
}

.my-card {
  width: 80%;
  max-width: 80%;
}

.max-card {
  width: 100%;
  max-width: 100%;
}
</style>
